workflows/n8n-weekly-summary/workflow.json
{
  "name": "Automated Weekly Repository Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "getCommits",
        "owner": "={{$vars.GITHUB_OWNER || \"denaev-dev\"}}",
        "repository": "={{$vars.GITHUB_REPO || \"archestra\"}}",
        "filters": {
          "since": "={{$node[\"DateHelper\"].json[\"oneWeekAgo\"]}}"
        }
      },
      "id": "github-commits",
      "name": "GitHub Commits",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        500,
        100
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "getAll",
        "owner": "={{$vars.GITHUB_OWNER || \"denaev-dev\"}}",
        "repository": "={{$vars.GITHUB_REPO || \"archestra\"}}",
        "filters": {
          "state": "closed",
          "since": "={{$node[\"DateHelper\"].json[\"oneWeekAgo\"]}}"
        }
      },
      "id": "github-issues",
      "name": "GitHub Issues",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "resource": "pullRequest",
        "operation": "getAll",
        "owner": "={{$vars.GITHUB_OWNER || \"denaev-dev\"}}",
        "repository": "={{$vars.GITHUB_REPO || \"archestra\"}}",
        "filters": {
          "state": "closed"
        }
      },
      "id": "github-prs",
      "name": "GitHub PRs",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        500,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst oneWeekAgo = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\nreturn { oneWeekAgo: oneWeekAgo.toISOString() };"
      },
      "id": "date-helper",
      "name": "DateHelper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const commits = $items(\"GitHub Commits\");\nconst issues = $items(\"GitHub Issues\");\nconst prs = $items(\"GitHub PRs\");\n\nconst cleanCommits = commits.filter(i => \n  !i.json.commit.message.toLowerCase().includes('chore') && \n  !i.json.commit.author.name.toLowerCase().includes('dependabot')\n);\n\nconst weekData = {\n  total_commits: commits.length,\n  active_commits: cleanCommits.map(i => i.json.commit.message),\n  closed_issues: issues.map(i => i.json.title),\n  merged_prs: prs.filter(i => i.json.merged_at).map(i => i.json.title)\n};\n\nreturn { data: JSON.stringify(weekData, null, 2), count: commits.length };"
      },
      "id": "aggregator",
      "name": "Aggregator & Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-3-5-sonnet-20240620"
            },
            {
              "name": "max_tokens",
              "value": "1024"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"user\", \"content\": \"Write a professional engineering weekly summary. Activity data: {{ $node['Aggregator & Filter'].json.data }}\"}]"
            }
          ]
        },
        "options": {}
      },
      "id": "claude-http",
      "name": "Claude API (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://discord.com/api/webhooks/YOUR_URL",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $node['Claude API (HTTP)'].json.content[0].text }}"
            }
          ]
        }
      },
      "id": "discord-notify",
      "name": "Final Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "DateHelper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DateHelper": {
      "main": [
        [
          {
            "node": "GitHub Commits",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Issues",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Commits": {
      "main": [
        [
          {
            "node": "Aggregator & Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Issues": {
      "main": [
        [
          {
            "node": "Aggregator & Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub PRs": {
      "main": [
        [
          {
            "node": "Aggregator & Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregator & Filter": {
      "main": [
        [
          {
            "node": "Claude API (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API (HTTP)": {
      "main": [
        [
          {
            "node": "Final Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}