issue-5/workflow.json
{
  "name": "STARK: Automated Weekly Dev Summary (Claude Edition)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "repository",
        "operation": "getCommits",
        "owner": "={{$vars.GITHUB_OWNER || \"denaev-dev\"}}",
        "repository": "={{$vars.GITHUB_REPO || \"archestra\"}}",
        "filters": {
          "since": "={{$node[\"DateHelper\"].json[\"oneWeekAgo\"]}}"
        }
      },
      "id": "github-commits",
      "name": "GitHub Commits",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        500,
        100
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "issue",
        "operation": "getAll",
        "owner": "={{$vars.GITHUB_OWNER || \"denaev-dev\"}}",
        "repository": "={{$vars.GITHUB_REPO || \"archestra\"}}",
        "filters": {
          "state": "closed",
          "since": "={{$node[\"DateHelper\"].json[\"oneWeekAgo\"]}}"
        }
      },
      "id": "github-issues",
      "name": "GitHub Issues",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "pullRequest",
        "operation": "getAll",
        "owner": "={{$vars.GITHUB_OWNER || \"denaev-dev\"}}",
        "repository": "={{$vars.GITHUB_REPO || \"archestra\"}}",
        "filters": {
          "state": "closed"
        }
      },
      "id": "github-prs",
      "name": "GitHub PRs",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        500,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst oneWeekAgo = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\nreturn { oneWeekAgo: oneWeekAgo.toISOString() };"
      },
      "id": "date-helper",
      "name": "DateHelper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const commits = $items(\"GitHub Commits\");\nconst issues = $items(\"GitHub Issues\");\nconst prs = $items(\"GitHub PRs\");\n\n// Filter noise (Dependabot, automated chores)\nconst cleanCommits = commits.filter(i => \n  !i.json.commit.message.toLowerCase().includes('chore') && \n  !i.json.commit.author.name.toLowerCase().includes('dependabot')\n);\n\nconst weekData = {\n  total_commits: commits.length,\n  active_commits: cleanCommits.map(i => i.json.commit.message),\n  closed_issues: issues.map(i => i.json.title),\n  merged_prs: prs.filter(i => i.json.merged_at).map(i => i.json.title)\n};\n\nreturn { data: JSON.stringify(weekData, null, 2) };"
      },
      "id": "aggregator",
      "name": "Aggregator & Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "prompt": "=Identify key development themes for the week. \nFormat as a clean Markdown digest for developers:\n- 🔥 **Key Achievements**\n- 🛠 **Internal Refactoring**\n- 🐛 **Bug Fixes**\n- 📈 **Weekly Stats**: {{$node[\"Aggregator & Filter\"].json[\"total_commits\"]}} commits, {{prs.length}} PRs processed.\n\nData (JSON):\n{{$node[\"Aggregator & Filter\"].json[\"data\"]}}\n\nLanguage: {{$vars.SUMMARY_LANGUAGE || \"English\"}}",
        "options": {
          "system": "You are a senior engineering manager. Your tone is professional, concise, and technical. Focus on impact, not just lines of code."
        }
      },
      "id": "claude-api",
      "name": "Claude API (Sonnet)",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$vars.DESTINATION_WEBHOOK}}",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{$node[\"Claude API (Sonnet)\"].json[\"text\"]}}"
            }
          ]
        }
      },
      "id": "discord-notify",
      "name": "Discord/Slack Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return { \n  errorMessage: \"Workflow Failed: Weekly Summary Generation Error\",\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "error-handler",
      "name": "Error Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1000,
        500
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "DateHelper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DateHelper": {
      "main": [
        [
          {
            "node": "GitHub Commits",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub Issues",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Commits": {
      "main": [
        [
          {
            "node": "Aggregator & Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Issues": {
      "main": [
        [
          {
            "node": "Aggregator & Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub PRs": {
      "main": [
        [
          {
            "node": "Aggregator & Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregator & Filter": {
      "main": [
        [
          {
            "node": "Claude API (Sonnet)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API (Sonnet)": {
      "main": [
        [
          {
            "node": "Discord/Slack Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}